<div class="h-full flex flex-col space-y-4">
    <app-page-header>
        <ng-container title>{{ 'SIDEBAR.JOBS' | translate }}</ng-container>
        <ng-container actions>
            <app-button>+ New Application</app-button>
        </ng-container>
    </app-page-header>

    <div class="flex-1 w-full bg-slate-900 rounded-xl overflow-hidden border border-slate-700 shadow-xl">
        <ag-grid-angular class="ag-theme-quartz-dark w-full h-full" [rowData]="store.jobs()" [columnDefs]="colDefs"
            [defaultColDef]="defaultColDef" [pagination]="true" [paginationPageSize]="20">
        </ag-grid-angular>
    </div>
</div>